[submodule "Dumbledraw"]
	path = Dumbledraw
	url = https://github.com/khaosmos93/Dumbledraw.git
	branch = earlyRun3
[submodule "ntuple_processor"]
	path = ntuple_processor
	url = https://github.com/KIT-CMS/ntuple_processor.git
	branch = master
