[submodule "Dumbledraw"]
	path = Dumbledraw
	url = https://github.com/ellisonscheuller/Dumbledraw.git
	branch = final
[submodule "ntuple_processor"]
	path = ntuple_processor
	url = https://github.com/KIT-CMS/ntuple_processor.git
	branch = master